<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div id="whole_page">
      <div id="header">RailsSpace</div>
      <div id="nav">
        <%= link_to_unless_current "Home",      :action => "index",
                                                :controller => "site" %> |
        <%= link_to_unless_current "About Us",  :action => "about",
                                                :controller => "site" %> |
        <%= link_to_unless_current "Help",      :action => "help",
                                                :controller => "site" %> |
        <%= link_to_unless_current "Register",  :action => "register",
                                                :controller => "user" %>
      </div>
      <div id="content">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <%= yield %>
      </div>
      <% if ENV["RAILS_ENV"] == "development" %>
        <%= debug(params) %>
      <% end %>
    </div>
  </body>
</html>