<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <%= link_to("Home",     { :action => "index" }) %> |
    <%= link_to("About Us", { :action => "about" }) %> |
    <%= link_to("Help",     { :action => "help"  }) %>

    <%= @content_for_layout %>
  </body>
</html>